<mat-toolbar color = "primary" fxLayoutAlign="space-between center">
    <div ngbDropdown class="d-inline-block" *ngIf="userLogged|async as user">
    
        <button [routerLink]="['/twitter']" mat-button>Twitter </button>            
        <button [routerLink]="['/linkedIn']" mat-button>LinkedIn </button>
        
    </div>
    <div> <span>Skrapler </span></div>

    <div class="container float-right" ngbDropdown *ngIf="userLogged|async as user">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle mat-button>
            {{user.email}}
        </button>
        
        <button mat-raised-button color="warn" (click)="logOut()">
            <mat-icon>logout</mat-icon>
        </button>
        
    </div>
</mat-toolbar>