.container {
    height: 100%;
    padding: 10px 30px;
}
div.mapa{
    height: 100%;
}
div.info{
    height: 100%;
    display: flex;
}
.tweet {
    height: calc(100% - 150px);
    overflow: scroll;
}

.card{
    border-radius: 5px;
    border-color: blue;
    margin-top: 10px;
}

.rt{
    background-color: rgb(151, 151, 118);
}