.container {
    height: 100%;
    padding: 10px 30px;
}
div.mapa{
    height: calc(100%);
}

div.mapa2{
    height: calc(100%);
    overflow: scroll;
}
div.info{
    height: 100%;
    display: flex;
}
.tweet {
    height: calc(100% - 150px);
    overflow: scroll;
}

.card{
    border-radius: 5px;
    border-color: blue;
    margin-top: 10px;
}

.rt{
    font-style: italic;
  
}

.tweet_img{
    width: 400px;
}