button{
    float: right;
    top: 0;
    right: 0;
}
.container {
    display: flex;
    flex-direction: row;
}

.mat-form-field {
    width: 100%;
}

.mat-dialog-content {
    display: block;
    margin: 0 -24px;
    padding: 0 24px;
    max-height: 80vh;
    overflow: auto;
}
form {
    padding: 0px 20px;
    max-height: 90vh;
    overflow: auto;
}
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
