<button mat-button (click)="test()" >
    <mat-icon>close</mat-icon>
</button>

<h1 mat-dialog-title >WordMap settings</h1>
<mat-dialog-content class="mantenimiento">
    <form >
        <mat-form-field appearance="fill" >
            <mat-label>Choose an option</mat-label>
            <mat-select>
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button  
        matSuffix  (click)="newWhiteListShow()"><mat-icon>add</mat-icon> New Whitelist</button>

        <mat-form-field *ngIf="NewWhiteListShow"   appearance="outline">
            
            <mat-label>Whitelist </mat-label>
            <input name="Whitelist name" matInput type="text" (keydown.enter)= " addBlacklistedWord()"> <!--(ngModelChange)="goTo()"-->
            <!--*ngIf="wordSelected.Word"-->
        </mat-form-field>

        <br>        
        <mat-form-field  appearance="outline">
            <mat-label>Word</mat-label>
            <input required  
                 name="word" matInput type="text" (ngModelChange)="goTo()" (keydown.enter)= " addBlacklistedWord()"> <!--(ngModelChange)="goTo()"-->
            <!--*ngIf="wordSelected.Word"-->
                <button  mat-button  matSuffix mat-icon-button aria-label="Clear"
                (click)="resetItem()"><mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </form>
    <br>

    <div class="tabla" >
        <table mat-table [dataSource]="words"  class="mat-elevation-z8 tabla-boton-init" fxFlex="100" fxFlex.sm="80" fxFlex.xs="80">
            
            
            <ng-container matColumnDef="id" fxFlex="1" fxFlex.sm="1" fxFlex.xs="1">
                <td mat-cell *matCellDef="let element; let i = index;"> {{i + 1}} </td>
            </ng-container>

            <ng-container matColumnDef="buttons" fxFlex="10" fxFlex.sm="10" fxFlex.xs="10" >
                <th mat-header-cell *matHeaderCellDef >        
                </th>
                <td mat-cell *matCellDef="let element" >
                    <button align="left"  mat-icon-button type="button" (click)="dialogEliminarUnCampo($event, element)" >
                        <mat-icon>deletes</mat-icon>
                    </button>
                </td>
            </ng-container>
           

            <ng-container matColumnDef=word fxFlex="89" fxFlex.sm="89" fxFlex.xs="89">
                <th mat-header-cell *matHeaderCellDef> word </th>
                <td mat-cell *matCellDef="let element" align="left"> {{element.Word}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row id ="rowIndex" *matRowDef="let row; columns: displayedColumns;"></tr>
            
        </table>
    </div>
</mat-dialog-content>

