<div class="container" fxLayout="column"> 
  <div class="title" >
      <p>Sign In</p>
  </div>

  <br>

  <div>
    <div class="card-body">
          <input class="item-1" style='background-color:rgb(230, 230, 230)' type="email" placeholder="   @ Email" [(ngModel)]="usuario.email">
          <input class="item-2" style='background-color:rgb(230, 230, 230)' type="password" placeholder="   * Password" [(ngModel)]="usuario.password">   
          <button class="item-3" (click)="Ingresar()">Sign in</button>

    </div > 
  
  </div>

  <br>
  <br>

  <div class="register"fxLayout="column">
    <label>Don't have an account yet?</label>
    <label class="link"> <a routerLink="/register">Create an account</a></label> 
  </div> 

</div>