<div class="container" fxLayout="column"> 
  

  <br>

  <div>
    <div class="card-body">
          <input class="item-1" style='background-color:rgb(230, 230, 230)' placeholder="   Name" type="email"  [(ngModel)]="usuario.name">
          <input class="item-2" style='background-color:rgb(230, 230, 230)' placeholder="   @ Email" type="email" [(ngModel)]="usuario.email">
          <input class="item-3" style='background-color:rgb(230, 230, 230)' placeholder="   * Password" type="password"  [(ngModel)]="usuario.password">         
          <button class="item-4" (click)="registrarse()">Register</button>        
    </div > 
  
  </div>

  <br>
  <br>

  <div class="signin"fxLayout="column">
    <label>Do you already have an account?</label>
    <label class="link"> <a routerLink="/login">Sign in</a></label> 
  </div> 

</div>